---
const url =
  "https://hwgzlgazuaajliatunzr.supabase.co/rest/v1/opskrifter?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3Z3psZ2F6dWFhamxpYXR1bnpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3ODc1OTEsImV4cCI6MjA2MjM2MzU5MX0.i1LfAfWnKTMG6FzdOw_OZsv5GtyewT5WMFZRMvnrGko";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);
import "../styles/style.css";
import Header from "../components/Header.astro";
import SmagCard from "../components/SmagCard.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Footer from "../components/Footer.astro";
import Knap from "../components/Knap.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lalezar&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <title>Umut Sakarya</title>
  </head>
  <body>
    <Header />
    <section class="hero">
      <div class="ramme">
        <div class="hero_grid">
          <img src="/imgs/umut_cropped.webp" alt="" class="umut_img" />
          <div class="velkommen">
            <h1>VELKOMMEN</h1>
            <p>Hej, jeg hedder Umut.</p>
            <p>
              Jeg er kok og restauratør med en stor kærlighed til mad og
              bæredygtig gastronomi. Med over 10 års erfaring og en
              MasterChef-sejr i bagagen, brænder jeg for at skabe smagfulde
              madoplevelser. Min tyrkiske baggrund og nysgerrighed på
              madkulturer præger alt, jeg laver – og jeg glæder mig til at dele
              det hele med jer.
            </p>
            <p>
              Uanset om du står overfor en hel kylling, der skal tilberedes
              perfekt, eller en kommende rejse - uden en ide om hvor du bør
              spise - så kan du her på siden finde inspiration og vejledning.
            </p>
            <a href="#nyhedsbrev">
              <Knap variant="tilmeld">Tilmeld nyhedsbrev</Knap>
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="border"></div>
    <section class="smag">
      <div class="ramme">
        <h1>SMAG</h1>
        <div class="smagcards">
          {
            Array.isArray(data) &&
              data
                .slice(5, 9)
                .map((opskrift) => <SmagCard opskrift={opskrift} />)
          }
        </div>
        <div class="smag_knap">
          <a href="/opskrifter"
            ><Knap variant="smag">Se alle opskrifter</Knap></a
          >
        </div>
      </div>
    </section>
    <div class="border"></div>
    <section class="oplev">
      <div class="ramme">
        <div class="grid_1-1">
          <div class="rejs_text">
            <h1>OPLEV</h1>
            <p>
              Er du lige så madnysgerrig som mig, når du rejser ud i den store,
              vilde verden?
            </p>
            <p>
              Så hop med i kufferten og dyk ned i mine rejseguides, hvor jeg
              smager mig igennem alt fra snaskede street food-boder til fancy
              restauranter med hvide duge.
            </p>
            <p>
              Jeg tester, smager og fortæller – så du kan få tips til de bedste
              madoplevelser, uanset om du er til dumplings i Tokyo eller tacos i
              Mexico City. Klar til at rejse med smagsløgene forrest?
            </p>
            <Knap variant="oplev">Udforsk her</Knap>
          </div>

          <div class="rejs_img">
            <img src="/imgs/oplev1.webp" alt="" class="oplev1" />
            <img src="/imgs/oplev2.webp" alt="" class="oplev2" />
          </div>
        </div>
      </div>
    </section>
    <div class="border"></div>
    <section class="skab">
      <div class="ramme">
        <div class="grid_1-1">
          <div>
            <h1>SKAB</h1>
            <p>
              Til hver opskrift jeg deler, følger der også en video med, hvor
              jeg viser dig, hvordan retten bliver til – trin for trin. Her kan
              du ikke bare følge med, men også skabe dine egne madoplevelser med
              lidt ekstra hjælp fra mine personlige tips, tricks og små genveje.
            </p>
            <p>
              I videoerne får du også et indblik i, hvilke køkkenredskaber jeg
              bruger, og hvordan du selv kan arbejde smart og effektivt i
              køkkenet. Jeg samarbejder med brands, jeg selv bruger, og du kan
              indimellem få adgang til rabatkoder og tilbud – kun ved at se med.
            </p>
            <p>
              Alle videoerne kan du finde på min YouTube-kanal – men de ligger
              også nemt tilgængelige under hver enkelt opskrift her på siden, så
              du kan skabe og lave maden i dit eget tempo.
            </p>

            <div class="skab_knapper">
              <a href="opskrifter/"
                ><Knap variant="skab">Gå til opskrifter</Knap></a
              >
              <a href="https://www.youtube.com/@umutsakarya5878"
                ><Knap variant="skab">Gå til YouTube</Knap></a
              >
            </div>
          </div>

          <div class="yt_video">
            <a href="https://youtu.be/XA8N2LFJyLU?si=hoT7w9hnFdeV3EkZ"
              ><img src="/imgs/kylling_stegt.svg" alt="" /></a
            >
            <a href="https://youtu.be/WwcaaYzLaCk?si=ZAesGfwew8JesPS6"
              ><img src="/imgs/tso_chicken.svg" alt="" /></a
            >
          </div>
        </div>
      </div>
    </section>
    <div class="border"></div>
    <section class="some">
      <div class="ramme">
        <h1>FØLG MED HER</h1>
        <div class="flex">
          <a href="https://www.youtube.com/@umutsakarya5878" class="some_ikon">
            <img src="/imgs/yt_ikon.svg" alt="" />
            <p>@umutsakarya5878</p>
            <p>100k</p>
          </a>

          <a href="https://www.instagram.com/umutsakarya/" class="some_ikon">
            <img src="/imgs/insta_ikon.svg" alt="" />
            <p>@umutsakarya</p>
            <p>344k</p>
          </a>

          <a
            href="https://www.tiktok.com/@umutrasakarya?is_from_webapp=1&sender_device=pc"
            class="some_ikon"
          >
            <img src="/imgs/tiktok_ikon.svg" alt="" />
            <p>@umutrasakarya</p>
            <p>190k</p>
          </a>
        </div>
      </div>
    </section>
    <div class="border"></div>
    <div id="nyhedsbrev">
      <Nyhedsbrev />
    </div>
  </body>
  <Footer />
</html>

<style>
  /* MOBIL FORMAT */

  /* ILLUSTRATIONER */
  .hero {
    background-image: url(/svg_forside/artiskok.svg);
    background-position: right center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: 230px; /* eller fx 50%, contain, eller cover */
  }

  .smag {
    background-image:
      url(/svg_forside/citroner.svg), url(/svg_forside/aert_foraarsloeg.svg);
    background-position:
      left bottom,
      right top;
    background-repeat: no-repeat, no-repeat;
    height: auto;
    width: 100%;
    background-size: 100px, 200px; /* eller fx 50%, contain, eller cover */
  }

  .oplev {
    background-image:
      url(/svg_forside/broccoli.svg), url(/svg_forside/lille_tomat.svg),
      url(/svg_forside/mellem_tomat.svg), url(/svg_forside/fly.svg);
    background-position:
      right top,
      right calc(100% - 260px),
      calc(100% - 250px) bottom,
      right center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: 175px, 100px, 200px, 290px;
  }

  .skab {
    background-image:
      url(/svg_forside/roed_stor_tomat.svg), url(/svg_forside/roed_chili.svg),
      url(/svg_forside/stor_tomat.svg);
    background-position:
      left calc(100% - 650px),
      right top,
      right calc(100% - 300px);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: 60px, 150px, 60px;
  }

  .some {
    background-image: url(/svg_forside/hvidloeg.svg);
    background-position: calc(15% - 50px) calc(100% - 50px);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: 150px; /* eller fx 50%, contain, eller cover */
  }
  .border {
    border: 1px solid var(--brun);
    width: 75%;
  }
  .hero {
    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  :root {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .ramme {
    max-width: 350px;
  }

  .hero_grid {
    margin-top: 50px;
  }

  h1 {
    font-size: 55px;
  }

  p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    font-family: Playfair Display;
    font-weight: 600;
  }

  .smagcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .smag_knap {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .smag {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .oplev {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .rejs_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .rejs_img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 6px solid var(--oplev);
  }

  .oplev1 {
    grid-column: 1/ 3;
    grid-row: 1 / span 2;
  }

  .oplev2 {
    grid-column: 2/ 4;
    grid-row: 2 / span 2;
  }

  .skab {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .skab_knapper {
    display: flex;
    flex-direction: column;
  }

  .some {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .some_ikon {
    img {
      margin-top: 40px;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  .yt_video {
    margin-top: 30px;
    background-color: var(--skab);
    padding: 10px;
    border-radius: 10px;
    img {
      width: 100%;
    }
  }

  /* DESKTOP FORMAT */
  @media (min-width: 850px) {
    /* ILLUSTRATIONER */
    .hero {
      background-image: url(/svg_forside/artiskok.svg);
      background-position: right calc(100% - 250px);
      background-repeat: no-repeat;
      height: auto;
      width: 100%;
      background-size: 400px; /* eller fx 50%, contain, eller cover */
    }

    .smag {
      background-image:
        url(/svg_forside/citroner.svg), url(/svg_forside/aert_foraarsloeg.svg);
      background-position:
        left bottom,
        right calc(100% - 520px);
      background-repeat: no-repeat, no-repeat;
      height: auto;
      width: 100%;
      background-size: 150px, 400px; /* eller fx 50%, contain, eller cover */
    }

    .oplev {
      background-image:
        url(/svg_forside/broccoli.svg), url(/svg_forside/lille_tomat.svg),
        url(/svg_forside/mellem_tomat.svg),
        url(/svg_forside/groenne_foraarsloeg.svg), url(/svg_forside/fly.svg);
      background-position:
        right top,
        calc(85% - 525px) top,
        calc(70% - 520px) bottom,
        left calc(70% - 250px),
        right bottom;
      background-repeat: no-repeat;
      height: auto;
      width: 100%;
      background-size: 250px, 150px, 300px, 200px, 400px;
    }

    .skab {
      background-image:
        url(/svg_forside/roed_stor_tomat.svg), url(/svg_forside/roed_chili.svg),
        url(/svg_forside/stor_tomat.svg);
      background-position:
        left center,
        center calc(100% - 625px),
        right calc(100% - 400px);
      background-repeat: no-repeat;
      height: auto;
      width: 100%;
      background-size: 100px, 200px, 150px;
    }

    .some {
      background-image: url(/svg_forside/hvidloeg.svg);
      background-position: 0 10%;
      background-repeat: no-repeat;
      height: auto;
      width: 100%;
      background-size: 200px; /* eller fx 50%, contain, eller cover */
    }

    /* DESKTOP CSS */
    .ramme {
      max-width: 1100px;
    }
    .velkommen {
      margin-top: 80px;
    }

    h1 {
      font-size: 90px;
    }

    p {
      font-size: 20px;
    }

    .hero_grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 50px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    .rejs_img {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      order: -1;
      p {
        width: 40ch;
      }
    }

    .oplev1 {
      grid-column: 2/ 4;
      grid-row: 1 / span 2;
    }

    .oplev2 {
      grid-column: 3/ 5;
      grid-row: 2 / span 2;
    }

    .rejs_text {
      width: 50ch;
    }

    .flex {
      display: flex;
      justify-content: center;
    }

    .smagcards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    .skab_knapper {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
</style>
