---
//@ts-nocheck

const url = "https://hwgzlgazuaajliatunzr.supabase.co/rest/v1/opskrifter?select=*";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3Z3psZ2F6dWFhamxpYXR1bnpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY3ODc1OTEsImV4cCI6MjA2MjM2MzU5MX0.i1LfAfWnKTMG6FzdOw_OZsv5GtyewT5WMFZRMvnrGko";

const options = {
  headers: {
    apikey: key,
    Authorization: `Bearer ${key}`,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);

console.log("Data fetched successfully");
import "../styles/style.css";
import Header from "../components/Header.astro";
import OpskriftCard from "../components/OpskriftCard.astro";
import Soege from "../components/Soege.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Footer from "../components/Footer.astro";
import Filter from "../components/Filter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <Header />
    <section class="hero">
      <div class="ramme">
        <h1>OPSKRIFTER</h1>
        <h3>Mad med sjæl, smag og sanselighed</h3>
        <p>Hos Umut handler mad ikke bare om opskrifter – det handler om minder, nysgerrighed og kærlighed til råvarer. Her på siden kan du gå på opdagelse i hans univers: Fra klassiske livretter til nye fortolkninger, altid med smagen i centrum. Brug siden til at finde inspiration, skabe dine egne variationer og gemme dine favoritter. Det er mad med personlighed – lige til at gå til.</p>
        <!-- <section class="filter"> -->
        <Soege/>
        <div class="ramme">
          <h2>Filtrér din mad</h2>
          <Filter />
        </div>
        <!-- </section> -->
      </div>
    </section>

    <section class="opskrifter">
      <div class="ramme">
        <div class="masonry">
          {data.map((opskrift) => <OpskriftCard opskrift={opskrift} />)}
        </div>
      </div>
    </section>
    <section class="nyhedsbrev">
      <div class="ramme"></div>
    </section>
  </body>

  <Footer />

  <style>
    /* MOBIL FORMAT */

    .masonry {
      column-count: 2;
      column-gap: 10px; /* eller mindre – fx 5px, 0px */
    }

    .hero {
      background-image: url("/opskriftside_svg/mad_tallerken.svg");
      background-position: 100%;
      background-repeat: no-repeat;
      height: auto;
      width: 100%;
      background-size: 120px; /* eller fx 50%, contain, eller cover */
      background-position: right 5px; /* 40px ned fra toppen */
    }
    h1 {
      margin-top: 40px;
      font-size: 55px;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-size: 19px;
      margin-bottom: 20px;
    }
    h3 {
      text-align: center;
      /* margin-bottom: 20px; */
      font-size: 18px;
    }

    p {
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
      color: var(--skrift, #233249);
    }

    /* DESKTOP FORMAT */
    @media (min-width: 850px) {
      p {
        margin-left: 90px;
        margin-right: 90px;
      }
      .hero {
        height: auto;
        width: 100%;
        background-image: url("/opskriftside_svg/mad_2.svg"), url("/opskriftside_svg/oliven_2.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 320px, 220px;
        background-position:
          100% -60px,
          -60px 30px; /* ← én til højre, én til venstre */
      }
      h1 {
        font-size: 80px;
        text-align: center;
        margin-top: 40px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .masonry {
        column-count: 3;
      }
    }
  </style>
</html>
