---
import "../styles/style.css";
---

<div class="filter-container">
  <details class="maaltidstype">
    <summary>Måltidstype</summary>
    <p><input type="checkbox" />Morgenmad</p>
    <p><input type="checkbox" />Frokost</p>
    <p><input type="checkbox" />Aftensmad</p>
    <p><input type="checkbox" />Bagværk/Dessert</p>
    <p><input type="checkbox" />Forret/Appetizers</p>
  </details>

  <details class="ingrediens">
    <summary>Ingrediens</summary>
    <p><input type="checkbox" />Aftensmad</p>
    <p><input type="checkbox" />Morgenmad</p>
    <p><input type="checkbox" />Frokost</p>
    <p><input type="checkbox" />Forretter/Apetizers</p>
  </details>

  <details class="varighed">
    <summary>Varighed</summary>
    <p><input type="checkbox" />Aftensmad</p>
    <p><input type="checkbox" />Morgenmad</p>
    <p><input type="checkbox" />Frokost</p>
    <p><input type="checkbox" />Forretter/Apetizers</p>
  </details>

  <details class="verdenskokken">
    <summary>Verdenskøkken</summary>
    <p><input type="checkbox" />Italiensk</p>
    <p><input type="checkbox" />Asiatisk</p>
    <p><input type="checkbox" />Tyrkisk</p>
    <p><input type="checkbox" />Svensk</p>
    <p><input type="checkbox" />Fransk</p>
    <p><input type="checkbox" />Græsk</p>
    <p><input type="checkbox" />Indonesisk</p>
    <p><input type="checkbox" />Dansk</p>
  </details>
</div>
<style>
  details {
    text-align: start;
    background-color: var(--brun);
    border-radius: 7px;
    display: inline-block;
    font-size: 15px;
    padding: 5px 20px; /* 0px top/bund, 20px venstre/højre */
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 210px;
    cursor: pointer;
  }

  summary {
    color: var(--skrift);
    font-size: 14px;
    padding: 3px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    margin: 5px;
  }

  .maaltidstype {
    top: 100%;
    left: 27%;
    z-index: 4;
  }
  .ingrediens {
    top: 107%;
    left: 27%;
    z-index: 3;
  }
  .varighed {
    top: 114%;
    left: 27%;
    z-index: 2;
  }
  .verdenskokken {
    top: 121%;
    left: 27%;
    z-index: 1;
  }

  @media (min-width: 850px) {
    .filter-container {
      gap: 20px;
      margin-bottom: 40px;
      text-align: center;
    }
    summary,
    p {
      color: var(--skrift);
      font-size: 15px;
    }

    .maaltidstype {
      top: 90%;
      left: 16%;
    }
    .ingrediens {
      top: 90%;
      left: 34%;
    }
    .varighed {
      top: 90%;
      left: 52%;
    }
    .verdenskokken {
      top: 90%;
      left: 70%;
    }
  }
</style>
