<header>
  <nav>
    <!-- Burger -->
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <!-- Desktop menus -->
    <ul class="menu left-menu desktop-only">
      <li><a href="/" class="button-link">Velkommen</a></li>
      <li><a href="/opskrifter" class="button-link">Opskrifter</a></li>
    </ul>

    <div class="logo">
      <a href="/">
        <img src="/imgs/logo.svg" alt="logo" />
      </a>
    </div>

    <ul class="menu right-menu desktop-only">
      <li>
        <a href="" class="button-link">Rejseguides & Livsstil</a>
      </li>
      <li>
        <a href="/" class="search">Søg <img src="/imgs/search.svg" alt="" /></a>
      </li>
    </ul>

    <!-- Mobil menu samlet -->
    <div class="mobile-menu">
      <ul class="menu">
        <li><a href="/" class="button-link">Velkommen</a></li>
        <li><a href="/opskrifter" class="button-link">Opskrifter</a></li>
        <li>
          <a href="" class="button-link">Rejseguides & Livsstil</a>
        </li>
        <li>
          <a href="/" class="search">Søg <img src="/imgs/search.svg" alt="" /></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script src="../scripts/menu.js"></script>

<style>
  /* Menu */
  a {
    text-decoration: none;
    color: var(--baggrund);
    font-family:
      Playfair Display,
      serif;
    font-size: 22px;
  }

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .search:hover {
    color: var(--brun);
  }

  .button-link {
    text-decoration: none; /* Removes the underline */
    font-family:
      Playfair Display,
      serif;
    font-size: 22px;
    color: var(--baggrund);
    padding: 20px;
  }

  .button-link:hover {
    color: var(--brun);
  }

  header {
    position: relative;
    background-color: #022601;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
    gap: 80px;

    /* flex-wrap: wrap; */
  }

  li {
    list-style: none;
  }

  .left-menu,
  .right-menu {
    flex: 1;
    display: flex;
    gap: 40px;
    list-style: none;
  }

  .logo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

  .logo img {
    height: 80px;
    width: auto;
    display: block;
  }

  .mobile-menu {
    display: none; /* kun mobil */
  }

  .burger {
    display: none;
  }

  /* BURGER */
  .burger {
    display: none;
    cursor: pointer;
    margin-left: auto;
  }

  .burger .line {
    width: 30px;
    height: 2px;
    background: var(--baggrund);
    margin: 5px 0;
  }

  /* MOBILE STYLES */
  @media screen and (max-width: 800px) {
    .search {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }

    nav {
      gap: 30px;
    }

    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
      /* Stregen bliver usynlig, når der bliver trykket, da den danner et kryds, kun med line 1 og 2 */
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    /* .search img {
    width: 10%;
  } */

    .desktop-only {
      display: none; /* skjul desktop menuer */
    }

    .burger {
      display: block;
      cursor: pointer;
      margin-left: auto;
    }

    .mobile-menu {
      display: none;
      position: absolute;
      top: 94px;
      left: -6%;
      width: 110%;
      background: #022601;
      z-index: 10;
      gap: 20px;
    }

    .mobile-menu .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; /* <--- Dette giver luft mellem knapperne */
      padding: 20px 0;
    }

    nav.active .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 20px 0;
    }

    .logo img {
      width: 80%;
    }

    .logo {
      order: -1;

      justify-content: center;
    }
  }
</style>
