---
const { variant } = Astro.props;
import "../styles/style.css";
---

<button class={variant}><slot /></button>

<style>
  button {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Playfair Display";
    font-weight: 600;
    width: 180px;
    text-align: center;
  }

  button:hover {
    border: 4px solid var(--brun);
  }

  .tilmeld {
    background-color: var(--skrift);
    color: var(--baggrund);
    border: 4px solid var(--skrift);
    margin-top: 35px;
    margin-bottom: 75px;
  }

  .oplev {
    background-color: var(--oplev);
    color: var(--skrift);
    border: 4px solid var(--oplev);
    margin-top: 35px;
    margin-bottom: 75px;
  }

  .smag {
    background-color: var(--smag);
    color: var(--skrift);
    border: 4px solid var(--smag);
  }

  .skab {
    background-color: var(--skab);
    color: var(--baggrund);
    border: 4px solid var(--skab);
    margin-top: 35px;
  }

  @media (min-width: 850px) {
    button {
      width: 230px;
      font-size: 20px;
    }
  }
</style>
