<section class="nyhedsbrev-section">
  <div class="ramme">
    <div class="sektion-1">
      <h3>
        Få det bedste fra Umut<br />
        -direkte til din inbox!
      </h3>
      <img src="/imgs/umut2.webp" alt="Illustration af Umut" class="illustration" />
    </div>
    <form class="form">
      <div class="input-wrapper">
        <input type="email" placeholder="Email.... Larslarsen@gmail.com" required />
        <input type="text" placeholder="Dit navn..." required />
      </div>
    </form>
    <button type="submit">Tilmeld mig!</button>
  </div>
</section>

<style>
  .ramme {
    max-width: 1000px;
    margin: 0 auto;
  }

  .sektion-1 {
    text-align: center;
    font-family: playfair display;
    color: var(--skrift, #233249);
  }

  .illustration {
    max-width: 150px;
    margin: 0 auto;
    height: auto;
  }
  h3 {
    font-size: 22px;
    color: var(--skrift, #233249);
    margin-bottom: 16px;
    margin-top: 50px;
    font-family: playfair display;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }

  input {
    padding: 6px 10px;
    border: 2px solid var(--brun);
    background-color: var(--brun, #d8c4b3);
    font-size: 13px;
    border-radius: 8px;
    font-family: playfair display;
    margin: 10px auto; 
    display: block;
    width: 250px; 
    max-width: 400px; 
    
  }

  button {
    background-color: var(--skrift, #233249);
    color: white;
    font-family: playfair display;
    border: 4px solid var(--skrift);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .ramme button:hover {
    border: 4px solid var(--brun);
  }
  .input-wrapper {
    text-align: center;
  }
  @media (min-width: 850px) {
    h3 {
      font-size: 30px;
      color: var(--skrift, #233249);
      font-family: playfair display;
      margin-top: 100px;
    }
    .sektion-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 32px;
      text-align: left;
      margin-left: 150px;
    }

    .illustration {
      display: block;
      max-width: 250px;
      margin-right: 200px;
      margin-top: 50px;
    }
    .form {
      display: flex;
      grid-template-columns: row;
    }
    input {
      width: 350px;
      max-width: 450px;
      margin: 20px;
      padding: 8px 12px;
      border-radius: 8px;
    }
    .input-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
</style>
