---
//ts@no-check
import "../styles/style.css";
const { opskrifter } = Astro.props;
---

<article class="card">
  <img
    class="card-image"
    src="/imgs/frokost/ceasar.webp"
    alt="Hot honey chicken burger"
  />
  <div class="text-overlay">
    <h3>Cæsar Salat</h3>
    <p>Frokost/Aftensmad</p>
  </div>
</article>

<style>
  .card {
    position: relative;
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .text-overlay {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background: linear-gradient(to top, rgba(4, 4, 3, 0.5) 70%, transparent);
    color: white;
  }
  p {
    color: white;
  }
  h3 {
    color: white;
    font-size: 25px;
  }
</style>
