---
//ts@no-check
import "../styles/style.css";
const { opskrift } = Astro.props;
---

<article class="card">
  <img src={`/imgs/${opskrift.opskrift_img}`} alt="Billede af opskrift" class="card-image" />
  <div class="text-overlay">
    <h3>{opskrift.opskrift_titel}</h3>
    <p>{opskrift.opskrift_type}</p>
  </div>
</article>

<style>
  .card {
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .text-overlay {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.15) 85%, rgba(0, 0, 0, 0.05) 95%, rgba(0, 0, 0, 0.01) 98%, rgba(0, 0, 0, 0) 100%);
    color: white;
  }

  p {
    color: white;
  }
  h3 {
    color: white;
    font-size: 15px;
  }
  @media (min-width: 850px) {
    h3 {
      color: white;
      font-size: 20px;
    }

    .card {
      margin-bottom: 20px;
    }
  }
</style>
