---
//ts@no-check
import "../styles/style.css";
const { opskrift } = Astro.props;
---

<article class="Buttons">
  <div class="knap_intro">
    <h3>{opskrift.type}</h3>
  </div>
  <div class="knap_intro">
    <h3>{opskrift.varighed}</h3>
  </div>
  <div class="knap_intro">
    <h3>4 personer</h3>
  </div>
</article>

<style>
  /* MOBIL FORMAT */
  .Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .knap_intro {
    background-color: var(--brun);
    border-radius: 10px;
  }

  /* DESKTOP FORMAT */
  @media (min-width: 850px) {
  }
</style>
